<% content_for :javascript_includes do %>
  <%= javascript_include_tag "map.js" %>
<% end %>

<div class="container">

  <div class="header text-center">
    <div class="row">
      <div class="col-lg-12">

        <h1>Good Morning, <%= @account_summary["first_name"] %> </h1>

      </div> <!-- /cols -->
    </div> <!-- /row -->
  </div> <!-- /header -->


  <div class="row">

    <!-- start left col -->
    <div class="col-lg-6">

      <section class="date">

        <div class="card">
          <h2> <%= Date.today.strftime("%A, %b %d, %Y") %> </h2>
        </div> <!-- /card -->

      </section>

      <section class="weather">
        <div class="card">
          <h2> Weather </h2>

          <div class="weather-forecast">

            <h4>
              Today's Forecast
            </h4>
            <table class="table table-striped">
              <tr>

                <th>
                  Time
                </th>
                <th>
                  6:00
                </th>
                <% @weather_forecast.each do |forecast| %>
                  <th>
                    <%= Time.at(forecast["time"]).strftime("%H:%m") %>
                  </th>
                <% end %>

              </tr>

              <tr>

                <td>
                  Temp
                </td>

                <% @weather_forecast.each do |forecast| %>

                <td>
                    <%= forecast["temp"].to_i %>
                </td>

                <% end %>

              </tr>

            </table>
          </div> <!-- /forecast -->

        </div> <!-- /card -->
      </section>

      <section class="news">
        <div class="card">
          <h2> Top News </h2>

          <% @news_articles.each do |news_article| %>
            <article>
              <h3>
                <%= news_article["headline"] %>
              </h3>

              <div class="article-summary">
                <p>
                <%= news_article["snippet"] %>
                </p>
                <p>
                <%= link_to "Read More", news_article["url"], target: "_blank" %>
                </p>
              </div>

            </article>

            <hr / >
          <% end %>

        </div> <!-- /card -->
      </section>

    </div> <!--/ left col -->


    <!-- start right col -->
    <div class="col-lg-6">


      <section class="events">

        <div class="card">
          <h2> Today's Events </h2>

          <ul class="text-center">

            <% if @events.any? %>

              <% @events.each do |event| %>

                <li>
                  <div class="row">

                    <span class="event-start"> 
                      <strong>
                        <%= event["start"] %>
                      </strong>
                    </span> 

                    <span class="event-description"> 
                      <%= event["name"] %>
                    </span> 

                  </div> 

                </li>

              <% end %>
            <% else %>
              <h4>
                No events currently on your Google calendar.
              </h4>
              <h5>
                Time to relax.
              </h5>
            <% end %>

          </ul>
        </div> <!-- /card -->

      </section>

      <section class="Traffic">
        <div class="card">
          <h2> Commute </h2>
          <h4> Green is Good... Red is Bad </h4>

          <div id="map" data-lat="<%= @account_summary["work_latitude"] %>" data-lon="<%= @account_summary["work_longitude"]%>" >
          </div>

        </div> <!-- /card -->
      </section>

    </div> <!--/ right col -->

  </div> <!-- /row -->

</div> <!-- /container -->
