<section class="add-locations">

  <div class="container">
    <div class="row">
      <div class="well text-center registration">

        <h2> Your Location </h2>

        <div class="form-explanation">

          In order to help you get your day off right, we need to know where you're starting off and where you're going.
        </div> <!-- /form-explanation -->

        <%= form_tag locations_path, method: :post do %>

          <div class="form-group">
            <%= text_area_tag :home_address, @home.address, placeholder: "Home Address", class: "form-control" %>
            <%= errors_for(@home, :address)  %>

          </div> <!-- /form-group -->
          <div class="form-group">
            <%= text_area_tag :work_address, @work.address, placeholder: "Work Address", class: "form-control" %>
            <%= errors_for(@work, :address)  %>
          </div> <!-- /form-group -->

          <%= submit_tag "Next", class: "btn btn-primary btn-lg" %>

        <% end %>

      </div> <!--well -->
    </div> <!-- /row -->
  </div> <!-- /container -->

</section>
