<!DOCTYPE html>
<html lang="en-US">  
  <head>
    <title>AMDash</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <% flash.each do |key, value| %>
          <div class="alert <%= bootstrap_class_for(key) %> fade in text-center margin-top-one-em">
            <%= value %>
          </div><!-- /alert -->
        <% end %>
      </div> <!-- /row -->
    </div> <!-- /container -->

    <%= yield %>

    <% if user_signed_in? %>
      <footer class="footer">
        <div class="row">
          <p>
          <%= link_to "Log out", destroy_user_session_url, method: :delete, class: "btn btn-info btn-secondary" %>
          </p>

        </div> <!-- /row -->
      </footer>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :javascript_includes %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['AM_DASH_GOOGLE_BROWSER_KEY'] %>&callback=AMDash.initMap">
    </script>


  </body>
</html>
